.page-wrapper {
    background-color: #C2C2C2;
}

.sidebar {
    background-color: #c9c9c9;
}

.header {
    margin-bottom: 3em;
}

.sidebar {
    border: 1px solid #333;
    color: #fff;
}

.sidebar-title {
    border-bottom: 1px solid #fff;
}

.sidebar-links {
    margin: 0;
    padding: 0;
}

.sidebar-links li {
    list-style-type: none;
}

.content-wrapper {
    background-color: #c9c9c9;
    border: 1px solid #333;
    height: 800px;
}

.content-table {
    background-color: #fff;
}

.hideItem {
    display: none;
}

.showItem {
    display: inline;
}

.header-links {
    list-style-type: none;
    padding: 0px;
}

.header-links li {
    display: inline;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}

.header-links li a, .header-links li a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

.wrap-header-links {
    padding: 30px;
}

.wrap-properties {
    margin: 5px;
}

.wrap-search {
    margin-top: 10px;
}

ul.ui-autocomplete {
    list-style-type: none;
    padding: 0px;
    width: 177px;
}

ul.ui-autocomplete li {
    background-color: #f5f5f5;
}

ul.ui-autocomplete li:hover {
    background-color: grey;
}

.all-books {
    margin-top: 10px;
}

.show-advanced-filtering:hover {
    cursor: pointer;
}

.hidden-area {
    display: none;
}

#filtering-form label {
    width: 80px;
    margin: 5px;
}

.submit-filter-books {
    margin:10px 0px;
}

