{% extends '::base.html.twig' %}

{% block content %}
    <h2>List of all books</h2>

    <table class="table table-bordered table-responsive content-table">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>

        <tbody>
        {% for book in books %}
            {% include '@Book/Book/_book-row.html.twig' with {
            "isbn": book.isbn,
            "title": book.title,
            "firstName": book.authorFirstName,
            "lastName": book.authorLastName
            } %}
        {% endfor %}
        </tbody>
    </table>

    {% set nextPage = app.request.get('page') + 1 %}
    <a id="next-page" href="{{ path('bibl.book.book.all', {"page": nextPage}) }}">Page {{ nextPage }}</a>
{% endblock %}
