{%  extends '@Book/Book/search-by-isbn.html.twig' %}

{% block search %}
    <label for="searchTitleInput"> Search by Title: </label>
    <input type="text" id="searchTitleInput" name="searchByTitle"/>
    <input type="button" id="submitTitleButton" value="List books"/>
{%  endblock %}
