{% extends('::base.html.twig') %}

{% block content %}
    <div class="wrap-search">
        {%  block search %}
            <label for="searchIsbnInput"> Search by Isbn: </label>
            <input type="text" id="searchIsbnInput" name="searchByIsbn"/>
            <input type="button" id="submitIsbnButton" value="List books"/>
        {%  endblock %}
    </div>

    <table class="table table-bordered table-responsive content-table all-books"> </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/autocomplete.js') }}"></script>
{% endblock %}
