{% extends('::base.html.twig') %}

{% block content %}
    <div class="wrap-search">
        <label for="searchButton"> Search by Isbn: </label>
        <input type="text" id="searchButton" name="searchByIsbn"/>
    </div>

    {#{%  if books|length != 0 %}#}
        {#<table>
            <thead>
            <th> ISBN</th>
            <th> Title</th>
            <th> Author first name</th>
            <th> Author last name</th>
            </thead>

            <tbody>
            &#123;&#35;{% for book in books %}
                {% include('@Book/Book/_book-row.html.twig') with {
                "isbn": book.isbn,
                "title": book.title,
                "firstName": book.authorFirstName,
                "lastName": book.authorLastName,
                "id": book.id
                } %}
            {% endfor %}&#35;&#125;
            </tbody>
        </table>#}
    {#{% endif %}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/autocomplete.js') }}"></script>
{% endblock %}
