<div class="container header">
    <div class="row">
        <div class="col-md-4">
            <h1>Bibliothouris</h1>

            <div>By Cegeka</div>
        </div>

        <div class="col-md-8">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Boeken</a></li>
            </ul>
        </div>
    </div>
</div>
